.cpcache/
.shadow-cljs/
Dockerfile
kubectl
node_modules/
resources/public/images/OpenShift-LogoType.svg
resources/public/images/back1.jpg
resources/public/images/cljs.png
resources/public/images/clojure.png
resources/public/images/code_black.svg
resources/public/images/code_white.svg
resources/public/images/codo3_2_web.svg
resources/public/images/devops.png
resources/public/images/devops_white.png
resources/public/images/dna.png
resources/public/images/dna_white.png
resources/public/images/git.png
resources/public/images/github_black.png
resources/public/images/github_black.svg
resources/public/images/jupyter.svg
resources/public/images/kubernetes-icon-white.png
resources/public/images/kubernetes.svg
resources/public/images/linkedin_black.png
resources/public/images/linkedin_black.svg
resources/public/images/podman.png
resources/public/images/python.png
resources/public/images/tagline-logo-full-color.svg
resources/public/images/twitter_black.png
resources/public/images/twitter_black.svg
resources/public/images/w3t-white.png
resources/public/js/
