{:paths   ["src/main" "resources"]
 :deps    {org.clojure/clojure    {:mvn/version "1.10.3"}
           org.clojure/clojurescript {:mvn/version "1.10.879"}

           com.fulcrologic/fulcro {:mvn/version "3.5.6"}
           com.fulcrologic/fulcro-rad {:mvn/version "1.1.0-RC1"}
           ;com.fulcrologic/fulcro-rad-semantic-ui {:mvn/version "1.1.8"}
           
           markdown-to-hiccup {:mvn/version "0.6.2"}
           sablono {:mvn/version "0.8.6"}
           cljs-http/cljs-http {:mvn/version "0.1.46"}

           com.taoensso/timbre                    {:mvn/version "4.10.0"}

           quil {:mvn/version "3.1.0"}

           com.github.mrebbinghaus/fulcro-material-ui-wrapper
           {:git/url "https://github.com/MrEbbinghaus/fulcro-material-ui-wrapper"
            :sha "058f1dd4b85542914f92f48a4010ea9ad497e48f"}}
 :nrepl {:extra-deps {nrepl {:mvn/version "RELEASE"}}
          :main-opts ["-m" "nrepl.cmdline"]}
 :aliases {:dev {:extra-paths ["src/dev"]
                 :extra-deps  {
                               thheller/shadow-cljs        {:mvn/version "2.15.12"}
                               com.fulcrologic/semantic-ui-wrapper {:mvn/version "2.0.1"}
                               binaryage/devtools          {:mvn/version "1.0.0"}
                               cider/cider-nrepl           {:mvn/version "0.27.2"}
                               org.clojure/tools.namespace         {:mvn/version "1.0.0"}}}}}
