{:deps     {:aliases [:dev]}
 :dev-http {8000 "classpath:public"}
 :builds   {:main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"
                   :modules    {:main {:init-fn se.w3t.site.client/init
                                       :entries [se.w3t.site.client]}}
                   :js-options {:entry-keys ["module" "browser" "main"]
                                :resolve {"highlight.js" {:target :npm :require "highlight.js/lib/core"}
                                          }}
                   :compiler-options {:output-feature-set :es-next}
                   :devtools   {:after-load se.w3t.site.client/refresh
                                :preloads   [com.fulcrologic.fulcro.inspect.preload]}}}}
