html {
    scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18;
  background-color: black;
  color: #f0f0f0;
}

a {
    cursor: pointer;
    color: #ebb871;
}

a:hover {
    color: #ffd9a3;
}

h1,h2 {
    font-family: "IBM Plex Sans", sans-serif;
}

.navbar-heading {
    color: #ebb871;
}

.navbar-link {
    color: #f0f0f0;
}


.category-heading {
    font-family: "IBM Plex Sans", sans-serif;
}

.app {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;
}

.content-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  margin-bottom: 0.3rem;
  background: #FFF;
  fontFamily: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content-segment {
  padding: 2rem;
  margin-bottom: 0.3rem;
  background: #FFF;
  fontFamily: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content-segment .compact {
    padding: 0rem
    margin-bottom: 1px;
}

.no-select {
  user-select: none;
  user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.fade {
    opacity: 100%;
}

.fade:hover {
    opacity: 70%;
}


@media screen and (max-width: 700px) {
    
}
