html {
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;


  font-size: 18;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* background-color: black;
  background: rgb(226,230,237);
  background: linear-gradient(0deg, rgba(226,230,237,1) 0%, rgba(236,241,249,1) 42%); */
  /*  background-image: url("/images/drawing.svg");
  background-size: 100% auto;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;*/
  color: #141414;
  background: rgb(225,235,255);
background: linear-gradient(0deg, rgba(225,235,255,1) 0%, rgba(245,248,255,1) 100%);
}

a {
    cursor: pointer;
    color: #ffa500ff;
}

a:hover {
    color: #ffd9a3;
}

h1,h2 {
    /* font-family: "IBM Plex Sans", sans-serif; */
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    margin: 0;
}

.navbar-heading {
    color: #ffa500ff;
    padding: 0.5rem;
    font-weight: 900;
}

.navbar-heading:hover {
    background-color: black;
    border-radius: 4px;
}

.navbar-heading-always {
    background-color: black;
    border-radius: 4px;
}


.navbar-link {
    color: #f0f0f0;
}


.category-heading {
    font-family: "IBM Plex Sans", sans-serif;
}

.app {
  /* font-family: Roboto, sans-serif; */
  /* font-weight: 300; */
  user-select: none;
  -webkit-user-select: none;
}

.content-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  margin-bottom: 0.3rem;
  background: #FFF;
  fontFamily: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content-segment {
  padding: 2rem;
  margin-bottom: 0.3rem;
  background: #FFF;
  fontFamily: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content-segment .compact {
  padding: 0rem;
  margin-bottom: 1px;
}

.no-select {
  user-select: none;
  user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.fade {
    opacity: 100%;
}

.fade:hover {
    opacity: 70%;
}


/* @media screen and (max-width: 768px) { */

/* } */

.dark ::-webkit-scrollbar {
    --tw-bg-opacity: 1;
    /* background-color: rgb(17 24 39/var(--tw-bg-opacity)); */
    background-color: transparent;
}
::-webkit-scrollbar {
    --tw-bg-opacity: 0;
    /* background-color: rgb(243 244 246/var(--tw-bg-opacity)); */
    height: 0.25rem;
    width: 0.35rem;
}
.dark ::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity));
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.container {
  position: relative;
  /* Other styles */
}

.container::before {
  content: '';
  position: absolute;
  top: -600px;    /* Adjust to move the image upward */
  left: -50px;   /* Adjust to move the image to the left */
  width: calc(100% + 100px);   /* Extend the width */
  height: calc(100% + 1000px);  /* Extend the height */
  background-image: url('/images/drawing.svg');
  background-repeat: no-repeat;
  background-size: cover;   /* Adjust as needed */
  z-index: -1;              /* Place it behind the container content */
}

.container2 {
  position: relative;
  /* Other styles */
}

.container2::before {
  content: '';
  position: absolute;
  top: 0;
  opacity: 1;
  width: calc(100%);   /* Extend the width */
  height: calc(20vh);  /* Extend the height */
  background-attachment: scroll; /* Prevents fixed position */
  background-image: url('/images/top.svg');
  background-repeat: no-repeat;
  background-size: cover;   /* Adjust as needed */
  z-index: -1;              /* Place it behind the container content */
}



.svg-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.svg-container:hover {
  cursor: pointer;
  animation: rock 0.6s ease-in-out infinite alternate;
  transition: transform 0.3s ease;
  transform: scale(1.2);
}

@keyframes rock {
  0% {
    transform: rotate(-5deg) scale(1.2);
  }
  100% {
    transform: rotate(5deg) scale(1.2);
  }
}


.sticky-bar {
            position: sticky;
            top: 0;
            width: 100%;
            height: 60px;
            /*background-color: rgba(0, 0, 0, 0.9); /* Initial opaque color */
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            z-index: 1000;
            transition: background-color 0.4s ease, opacity 0.4s ease;
        }

        .content {
            height: 2000px; /* Long content for scrolling */
            padding-top: 80px;
        }

        .fade-out {
            background-color: rgba(0, 0, 0, 0.0); /* Fully transparent */
            opacity: 0;
        }

        .fade-in {
            background-color: rgba(0, 0, 0, 0.0);
            opacity: 1;
        }

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.hover-effect {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  animation: hoverUpDown 2s ease-in-out infinite;
}

/* Keyframe animation */
@keyframes hoverUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
