html {
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;


  font-size: 18;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* background-color: black;
  background: rgb(226,230,237);
  background: linear-gradient(0deg, rgba(226,230,237,1) 0%, rgba(236,241,249,1) 42%); */
  /*  background-image: url("/images/drawing.svg");
  background-size: 100% auto;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;*/
  color: #141414;
}

a {
    cursor: pointer;
    color: #ebb871;
}

a:hover {
    color: #ffd9a3;
}

h1,h2 {
    /* font-family: "IBM Plex Sans", sans-serif; */
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

.navbar-heading {
    color: #ebb871;
}

.navbar-link {
    color: #f0f0f0;
}


.category-heading {
    font-family: "IBM Plex Sans", sans-serif;
}

.app {
  /* font-family: Roboto, sans-serif; */
  /* font-weight: 300; */
  user-select: none;
  -webkit-user-select: none;
}

.content-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  margin-bottom: 0.3rem;
  background: #FFF;
  fontFamily: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content-segment {
  padding: 2rem;
  margin-bottom: 0.3rem;
  background: #FFF;
  fontFamily: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content-segment .compact {
    padding: 0rem
    margin-bottom: 1px;
}

.no-select {
  user-select: none;
  user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.fade {
    opacity: 100%;
}

.fade:hover {
    opacity: 70%;
}


/* @media screen and (max-width: 768px) { */

/* } */

.dark ::-webkit-scrollbar {
    --tw-bg-opacity: 1;
    /* background-color: rgb(17 24 39/var(--tw-bg-opacity)); */
    background-color: transparent;
}
::-webkit-scrollbar {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
    height: 0.25rem;
    width: 0.35rem;
}
.dark ::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity));
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.container {
  position: relative;
  /* Other styles */
}

.container::before {
  content: '';
  position: absolute;
  top: -50px;    /* Adjust to move the image upward */
  left: -50px;   /* Adjust to move the image to the left */
  width: calc(100% + 100px);   /* Extend the width */
  height: calc(100% + 100px);  /* Extend the height */
  background-image: url('/images/drawing.svg');
  background-repeat: no-repeat;
  background-size: cover;   /* Adjust as needed */
  z-index: -1;              /* Place it behind the container content */
}
